---
layout: ""
page_title: "Provider: Qdrant Cloud"
description: |-
  The Qdrant Cloud Terraform provider allows full lifecycle management of Qdrant Cloud resources.
---

# Qdrant Cloud Provider

The Terraform Qdrank Cloud provider is a plugin for Terraform that allows for the full lifecycle management of Qdrant Cloud resources.

Api keys can be generated and viewed under the user's dashboard view on the API Keys tab.... TODO

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}