name: PR Workflow
on:
  pull_request:
    types: [ synchronize, opened, reopened]
    branches: [ 'main' ]

jobs:
  linter:
    name: Linter
    runs-on: ubuntu-latest
    timeout-minutes: 10 # Sets a timeout of 10 minutes for this job (default is 1 minute)
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          persist-credentials: false
          
      - uses: actions/setup-go@v6
        with:
          go-version: '^1.24'
          cache: false

      - name: Check Go Formatting
        run: |
          files=$(gofmt -l .) && echo $files && [ -z "$files" ]

      - name: Golang CI Lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.6.2 # Specify the golangci-lint version, so we are stable

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
            terraform_version: "^1.5.5"
            terraform_wrapper: false

      - name: Run make generate-help
        run: |
          make generate-help

      - name: Ensure that make generate-help did not result in changes
        uses: CatChen/check-git-status-action@v1
        with:
          fail-if-not-clean: true

  tests:
    name: Tests
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: '^1.24'
          cache: false

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "^1.13.2"
          terraform_wrapper: false

      - name: Run Unit Tests
        run: |
          make test.unit

      - name: Run Acceptance Tests
        env:
          QDRANT_CLOUD_API_KEY: ${{ secrets.QDRANT_CLOUD_API_KEY }}
          QDRANT_CLOUD_ACCOUNT_ID: ${{ secrets.QDRANT_CLOUD_ACCOUNT_ID }}
          QDRANT_CLOUD_API_URL: ${{ vars.QDRANT_CLOUD_API_URL }}
          SKIPPED_TESTS: ${{ vars.SKIPPED_TESTS }}
        run: |
          make test.acceptance
